accelerate==1.5.2
aiohappyeyeballs==2.6.1
aiohttp==3.11.14
aiosignal==1.3.2
attrs==25.3.0
bitsandbytes==0.45.4
certifi==2025.1.31
charset-normalizer==3.4.1
colorama==0.4.6
cut-cross-entropy==25.1.1
datasets==3.5.0
diffusers==0.32.2
dill==0.3.8
docstring_parser==0.16
filelock==3.13.1
frozenlist==1.5.0
fsspec==2024.6.1
hf_transfer==0.1.9
huggingface-hub==0.29.3
idna==3.10
importlib_metadata==8.6.1
Jinja2==3.1.4
markdown-it-py==3.0.0
MarkupSafe==2.1.5
mdurl==0.1.2
mpmath==1.3.0
multidict==6.2.0
multiprocess==0.70.16
networkx==3.3
numpy==2.1.2
packaging==24.2
pandas==2.2.3
peft==0.15.1
pillow==11.0.0
propcache==0.3.1
protobuf==3.20.3
psutil==7.0.0
pyarrow==19.0.1
Pygments==2.19.1
python-dateutil==2.9.0.post0
pytz==2025.2
PyYAML==6.0.2
regex==2024.11.6
requests==2.32.3
rich==14.0.0
safetensors==0.5.3
sentencepiece==0.2.0
shtab==1.7.1
six==1.17.0
sympy==1.13.1
tokenizers==0.21.1
torch==2.6.0+cu126
torchaudio==2.6.0+cu126
torchvision==0.21.0+cu126
tqdm==4.67.1
transformers==4.50.3
triton-windows==3.2.0.post17
trl==0.15.2
typeguard==4.4.2
typing_extensions==4.13.0
tyro==0.9.18
tzdata==2025.2
unsloth==2025.3.19
unsloth_zoo==2025.3.17
urllib3==2.3.0
xformers==0.0.29.post3
xxhash==3.5.0
yarl==1.18.3
zipp==3.21.0
